.ad {
  grid-area: ad;
  display: flex;
  flex-direction: column;
  max-width: 260px;
  margin-top: 10px;

  @include between($tablet, $notebook) {
    display: none;
  }

  @include below($tablet) {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;   

    background: $whiteBG;
    border-radius: 20px;
  }

  &__image {
    width: 220px;
    height: autos;

    @include between($tablet, $notebook) {
      max-width: 180px;
      height: auto;
    }
  }

  &__title {
    padding-top: 10px;
    padding-left: 20px;

    font-family: $sansB;
    font-size: 14px;
    line-height: 140%;
  }

  &__content {
    font-family: $sansR;
    font-size: 14px;
    line-height: 140%;
    color: $grayTxt;
  }
} 
