.feed {
  display: flex;
  flex-direction: row;

  margin: 0; 
  padding: 4px;
  height: 248px;
  width: 1260px;
  

  .feedItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 220px;
    height: 248px;
    margin-right: 10px;
    padding: 5px;

    background: #FFFFFF;
    border-radius: 20px;

    &__author {
      display: flex;
      flex-direction: row;
      width: 200px;
  
      
    }
  
    &__authorAvatar {
  
      
      width: 32px;
      height: 32px;
    }
  
    &__titleInfo {
      display: flex;
      flex-direction: column;
    }
  
    &__content {
      display: flex;
      flex-direction: column;
    }

    &__footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }

    &__icons {
      width: 16px;
      height: 16px;
    }

    &__comentsCount {

      color:#9DA1A6;
    }

    &__likeCount {
      color:#9DA1A6;
    }

    

  }
  
}

.feedTitle {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  height: 64px;

  

  &__text {
    font-family: Google Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
  }
}
