.feedBlock {
  grid-area: feedBlock;
  padding-top: 40px;

  @include below($tablet) {
      display: none;
  } 
  
}

.feedTitle {

  &__text {

    font-family: $sansB;
    font-size: 20px;
    line-height: 100%;
  }
}
.feed { 
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 248px;
    
    @include between($notebook, $desktop) {
      max-width: 1024px;
    }

    @include between($tablet, $notebook) {
      max-width: $tablet;
      
      :nth-child(4) {
        display: none;
      }
    }

    &__post {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 220px;
      height: 248px;

      background: $whiteBG;
      border-radius: 20px; 

      @include between($mobile, $mobileB) {
        width: auto;
      }

    }

    &__post:first-child {
      padding-left: 0;
    }

    &__userAvatar {
      width: 34px;
      height: 34px;
    }
    
  

 

}
