.header {
  grid-area: header;
  display: grid;
  grid-template-areas: 
                ". headerBlock headerBlock headerBlock .";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: auto;
  width: 100%;  

  background-color: $whiteBG;

  @include between($tablet, $notebook) {
    grid-column-gap: inherit    
                "headerBlock headerBlock headerBlock";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  &__block {
    grid-area: headerBlock;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    padding-left: 0;
  }

  &__brand {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include below($mobileB) {
      margin-left: 10px;
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
  }

  &__brandLogo {
    height: 30px;
    width: 24px;
  }

  &__brandName {
    height: 16px;
    margin-left: 10px;

    @include below($mobileB) {
      height: 12px;
      width: 80px;
    }
  }

  &__links {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-right: 10px;

    @include below($mobileB) {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  &__userAvatar {
    width: 40px;
    height: 40px;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 44px;
    margin-left: 32px;
    margin-right: 32px;

    text-decoration: none;
    background-color: $orangeBtn;
    border: 2px solid $orangeBtn;
    box-sizing: border-box;
    border-radius: 44px;
    color: $whiteTxt;
    font-family: $sansB;
    font-size: 14px;
    line-height: 14px;
  }
}
