body {

  display: grid;
  grid-template-areas:
            "header header header header header" 
            ". feedBlock feedBlock feedBlock ."
            ". nav wall wall ."
            ". ad wall wall .";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0;
  padding: 0; 

  background-color: #dcdce4;

  @include between($notebook, $desktop) {
    grid-template-areas:
            "header header header header" 
            "feedBlock feedBlock feedBlock ."
            "nav wall wall ."
            "ad wall wall .";
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
  @include below($notebook) {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
  }
}
