.wall {
  grid-area: wall;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  width: 680px;
  
  margin-left: 20px;


  @include between($notebook, $desktop) {
    max-width: 580px;
  }

  @include between($mobileB, $tablet) {
    max-width: 460px;
  }
  
  @include between($mobile, $mobileB) {
    max-width: 280px;
    margin-left: 40px;
  } 
  
  @include below($mobile) {
    max-width: 280px;
  }

  &__post {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 10px;
    width: 100%;
    padding: 20px;

    
    margin-left: 10px;
    background: $whiteBG;
    border-radius: 20px;
    
  }

  &__post__sm {
    display: flex;
      flex-direction: column;
      justify-content: space-between;

      width: 220px;
      height: 248px;
      padding: 5px;

      background: $grayBtn;
      border-radius: 20px;
  }

  &__titleInfo {
    display: flex;
    flex-direction: row;
    margin-left: 10px;

    color: $grayTxt;
  }

  &__feedBlock {
    grid-area: feedBlock;
    padding-top: 40px;

    background: $grayBtn;
  }


}

