.wall {
  grid-area: wall;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 520px;

  @include between($tablet, $notebook) {
    min-width: 320px;
    max-width: 560px;
    padding: 10px;
    width: auto;
  }
  @include between($mobileB, $tablet) {
    min-width: 320px;
    max-width: 550px;
  }

  @include below($tablet) {
    width: 100%;
    max-width: 680px;
  } 

  @include below($mobileB) {
    max-width: 320px;
    min-width: 300px;
  }

  &__post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
    padding: 10px;
    max-width: 780px;

    background: $whiteBG;
    border-radius: 20px;  
    
    @include between($mobileB, $tablet) {
      min-width: 320px;
      max-width: 665px;
      width: 100%;
    }

    @include below($mobileB) {
      max-width: 300px;
    }
  }

  &__post__sm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 220px;
    margin-left: 20px;

    background: $grayBtn;
    border-radius: 20px;

    @include below($tablet) {
      display: none;
    }
  }

  &__titleInfo {
    display: flex;
    flex-direction: row;
    margin-left: 10px;

    color: $grayTxt;

    @include below($mobileB) {
      flex-direction: column;
    }
  }

  &__feedBlock {
    grid-area: feedBlock;
    padding-top: 40px;

    background: $grayBtn;
  }
}

