$grayBG: #E5E5E5;
$whiteBG: #ffffff;
$blueUN: #4643D3;
$yellowUS: #FFE99A;
$whiteUB: #DDDDDD;
$grayTxt: #9DA1A6;
$orangeBtn: #FE805C;
$grayBtn: #F5F7F8;
$whiteTxt: #ffffff;
$blackTxt: black;

$sans: 'Google Sans';
$sansR: 'Google Sans Regular';
$sansB: 'Google Sans Bold';
$sansI: 'Google Sans Italic';

$desktopL: 1920px;
$desktop: 1440px;
$notebook: 1025px;
$tablet: 769px;
$mobileB: 481px;
$mobile: 360px;


