$red: #E50000;
$grayL: #f6f6f6;
$grayD: #f0f0f0;
$grayTxt: #595D60;
$grayTxtD: #202020;

$grayBG: #E5E5E5;
$whiteBG: #ffffff;
$blueUN: #4643D3;
$yellowUS: #FFE99A;
$whiteUB: #DDDDDD;
$grayTxt: #9DA1A6;
$orangeBtn: #FE805C;
$grayBtn: #F5F7F8;
$whiteTxt: #ffffff;

$sans: 'Google Sans Regular';
$toyotaDB: 'Toyota Display Bold';
$toyotaDR: 'Toyota Display Regular';
$toyotaTR: 'Toyota Text Regular';
$toyotaTB: 'Toyota Text Bold';

$desktopL: 1920px;
$desktop: 1440px;
$notebook: 1025px;
$tablet: 769px;
$mobileB: 481px;
$mobile: 360px;


